@font-face {
  font-family: "iconfont"; /* Project id 3534732 */
  src: url('iconfont.woff2?t=1662433127024') format('woff2'),
       url('iconfont.woff?t=1662433127024') format('woff'),
       url('iconfont.ttf?t=1662433127024') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fensanjuji:before {
  content: "\e767";
}

.icon-yichubianliang:before {
  content: "\e768";
}

.icon-shezhibianliang:before {
  content: "\e769";
}

.icon-Webhook:before {
  content: "\e76a";
}

.icon-shujuku:before {
  content: "\e76b";
}

.icon-a-HttpRequest:before {
  content: "\e76c";
}

.icon-rizhijilu:before {
  content: "\e76d";
}

.icon-plus:before {
  content: "\e9a9";
}

.icon-up:before {
  content: "\e702";
}

.icon-down:before {
  content: "\e703";
}

.icon-a-lianhe292:before {
  content: "\e7af";
}

.icon-a-zu10154:before {
  content: "\e7ac";
}

.icon-a-zu10157:before {
  content: "\e7ad";
}

.icon-a-zu10156:before {
  content: "\e7ae";
}

.icon-a-lianhe290:before {
  content: "\e7ab";
}

.icon-a-zu10160:before {
  content: "\e7a9";
}

.icon-a-zu10161:before {
  content: "\e7aa";
}

