*{
  margin: 0;
  padding: 0;
}
body,html{
  background: #F4F6F9;
  font-family: SourceHanSansCN-Regular, Source Han Sans CN, serif;
  overflow: hidden;
}
@keyframes ant-line {
  to {
    stroke-dashoffset: -1000
  }
}
.hr{
  height: 1px;
  background: #EAECEF;
}

.el-tabs__header {
  margin-bottom: 12px;
}
.el-date-editor{
  --el-date-editor-width:215px !important;
}
.el-tree {
  .el-tree-node__content {
    height: 32px;
  }
  > .el-tree-node {
    border-bottom: 1px solid var(--el-border-color-extra-light);    
    > .el-tree-node__content {
      height: 40px;
    }
  }
}
.x6-widget-transform {
  border-color: #999;
  > div {
    border-color: #999;
  }
}

.sys-table-cell {
  .cell {
    display: flex;
    align-items: center;
    .el-table__expand-icon {
      margin-left: -8px;
    }
  }
}

.sys-dialog {
  .el-dialog__body {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}